body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 5em;
    margin-button: 200px;
}

button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid gray;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Asegurar que no haya subrayado */
    
    .regresar  {
          
      }
}

button:link, button:visited, button:hover {
    text-decoration: none; /* Eliminar el subrayado en todos los estados */
}

button:hover {
    background-color: #e0e0e0; /* Cambiar color de fondo al pasar el cursor */
}