body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    background-color: #007BFF;
    color: white;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.product {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%; /* Se adapta al ancho del contenedor */
    max-width: 150px; /* Tamaño máximo en pantallas grandes */
    height: auto; /* Mantiene la proporción original */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 5px; /* Esquinas redondeadas, opcional */
    margin: 0 auto; /* Centra la imagen dentro de su contenedor */
}


.product h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    color: #007BFF;
}
