body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

body::before {
    content: ''; /* Genera el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('fondo2.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajusta al tamaño completo de la pantalla */
    background-repeat: no-repeat; /* Evita la repetición */
    background-position: center; /* Centra la imagen */
    filter: blur(5px); /* Aplica el desenfoque */
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #228B22;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilo básico del carrito */
#carrito {
    position: fixed; /* Flotante en la pantalla */
    bottom: 20px; /* Separación desde abajo */
    right: 20px; /* Separación desde la derecha */
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Forma circular */
    background-color: #007BFF; /* Fondo azul vibrante */
    color: white; /* Texto/blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: all 0.3s ease-in-out; /* Animación suave */
    z-index: 1000; /* Asegura que esté siempre visible */
}

/* Hover para dar interactividad */
#carrito:hover {
    transform: scale(1.1); /* Efecto de aumento */
}

/* Detalles del carrito (oculto por defecto) */
.cart-details {
    position: absolute;
    bottom: 70px;
    right: 0;
    width: 300px;
    max-height: 400px;
    background-color: white; /* Fondo blanco para el contenido */
    color: black; /* Texto negro */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    overflow-y: auto; /* Barra de desplazamiento si el contenido excede */
    display: none; /* Oculto al inicio */
    padding: 10px;
}

/* Mostrar detalles al interactuar */
#carrito.active .cart-details {
    display: block;
}
