body {
    font-family: Arial, sans-serif; /* Establece la fuente del texto en Arial */
    text-align: center; /* Centra el contenido del texto */
    background-color: #f9f9f9; /* Establece el color de fondo */
}

h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fuente específica para el encabezado h1 */
    font-size: 2.5em; /* Tamaño de fuente grande para el encabezado h1 */
    margin-top: 20px; /* Margen superior de 20px */
}

.imagen-comercial {
    width: 600px; /* Ancho de la imagen */
    height: 100%; /* Altura automática para mantener la proporción */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

button, .tuto, .catalogo {
    display: block; /* Muestra el botón como un bloque */
    width: 200px; /* Ancho del botón */
    margin: 10px auto; /* Márgenes para centrar y espaciar el botón */
    padding: 30px; /* Espacio interno del botón */
    font-size: 3em; /* Tamaño de la fuente del botón */
    background-color: #ccc; /* Color de fondo del botón */
    text-decoration: none !important; /* Elimina el subrayado del texto */
    border: 2px solid #888; /* Borde gris del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none !important; /* Elimina el subrayado del enlace en todos los estados */
}

button:link, button:visited, .tuto:link, .catalogo:link, .tuto:visited, .catalogo:visited {
    text-decoration: none !important; /* Elimina el subrayado del enlace en todos los estados */
}

button:hover, .tuto:hover, .catalogo:hover {
    background: #bbb;
    text-decoration: none !important; /* Mantiene el texto sin subrayar */
}

button + button {
    margin-top: 0; /* Elimina el margen superior entre botones adyacentes */
}

h2 {
    font-size: 1.5em; /* Tamaño de fuente para el encabezado h2 */
    margin-top: 20px; /* Margen superior de 20px */
}
